*.log
*.root
*.png
*.json
*.pb
*.csv
*.pth
*.pkl
CMSSW_12_6_0/biglib
CMSSW_12_6_0/cfipython
CMSSW_12_6_0/doc
CMSSW_12_6_0/include
CMSSW_12_6_0/logs
CMSSW_12_6_0/python
CMSSW_12_6_0/.SCRAM
CMSSW_12_6_0/static
CMSSW_12_6_0/tmp
CMSSW_12_6_0/bin
CMSSW_12_6_0/config
CMSSW_12_6_0/external
CMSSW_12_6_0/lib
CMSSW_12_6_0/objs
CMSSW_12_6_0/test
CMSSW_12_6_0/src/hplusc/HcAnalyzer/crab_projects
CMSSW_12_6_0/src/hplusc/HcAnalyzer/__pycache__
ML_scripts/files
ML_scripts/model_files
ML_scripts/stats
